html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-color: #333;
  padding: 0;
  margin: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#piano {
  position: relative;
  background-color: rosybrown;
  margin: auto;
  padding: 60px 20px 0 20px;
  position: relative;
  border-radius: 10px;
}

#square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  background-color: pink;
  position: absolute;
  left: 50%;
  top: 10px;
  z-index: 1;
}

.keys {
  background-color: #040404;
  height: 90%;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  float: left;
  border-radius: 0 0 3px 3px;
}

.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
}

.clickedState {
  background-color: red;
}
