html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  background-color: #333;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: auto;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: blue;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
#piano {
  background-color: #00471b;
  width: 992px;
  height: 270px;
  margin: auto;
  padding: 60px 20px 0 20px;
  position: relative;
  border-radius: 10px;
}

.keys {
  background-color: #040404;
  width: 949px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  float: left;
  border-radius: 0 0 3px 3px;
}

.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
}

.clickedState {
  background-color: red;
}

